modules = ["nodejs-20"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Discord Bot"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "discord_bot"

[[workflows.workflow]]
name = "Discord Bot"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install discord.js @discordjs/rest discord-api-types && node index.js"

[[workflows.workflow]]
name = "discord_bot"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm init -y && npm install discord.js @discordjs/rest discord-api-types"
